[Unit]
Description=UTask Manager
After=syslog.target network-online.target
Wants=

[Service]
Restart=always
Type=exec
ExecStart=/opt/utask/utask
Environment=

[Install]
WantedBy=